body {
  background: #1C2024;
  color: #DBDBDB;
  font-size: 17px;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

h1 {
  text-align: center;
}

.content {
   max-width: 900px;
   background-color: #30383D;
   padding: 15px;
   border-radius: 5px;
   margin: auto;

}

.footer {
  font-size: 14px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.post {
  background: #DBDBDB;
  color: #30383D;
  font-size: 14px;
  padding: 10px;
  border-radius: 2px;
  text-decoration: none;
  }

.comment {
  background-color: #2A3135;
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
}

.post:hover {
  background-color: #fff;
}

.username {
  text-align: right;
  font-weight: bold;
  padding: 12px;
}

.navbar {
  overflow: hidden;
  background-color: #2A3135;
  border-radius: 10px;
}

.nav {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  border-radius: 10px;
  font-size: 17px;
}

.nav:hover {
  background-color: #ddd;
  color: black;
}

textarea {
  font-family: Arial, Helvetica, sans-serif;
}

.button {
  width: 8em;
  height: 3em;
  margin-top: 20px;
  margin-bottom:
}

.center {
  text-align: center;
}
